body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("asset/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.avatars img {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    border: 5px solid transparent;
    border-radius: 50%;
    object-fit: cover;
}

.avatars img.selected {
    border-color: rgb(255, 0, 0);
}

input[type="text"] {
    font-size: 18px;
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.right-side {
    display: flex;
    width: 25%;
    align-items: stretch;
    justify-content: flex-start;
}

.score-window {
    height: 100%;
}

.container-player {
    padding: 20px;
    margin: 0 10px;
    box-sizing: border-box;
    text-align: center;
    color: black;
    text-transform: uppercase;
    justify-content: space-around;
}

.game-canvas {
    width: 800px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    background-image: url("asset/game/farm_bg.png");
    background-size: cover;
    overflow: hidden;
}

.avatar-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

canvas {
    width: 100%;
    height: 100%;
}

#collisionCanvas {
    opacity: 0;
}

.start-button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f0c419;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#gameContainer {
    display: inline-block;
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle {
    margin: 20px auto;
}

.welcome-message {
    display: none;
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
}

.button-container {
    display: flex;
    justify-content: space-around;
}